*{
  margin: 0;
  padding: 0;
}

.App{
  /* display: flex;
  flex-direction: column; */
  letter-spacing: 1px;
  width: 100%;
  height: 100vh;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.home{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* background-color: #181818; */
  /* color: #ffffff; */
  /* color: azure; */
}

.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  border-bottom: 1px solid #393E46;
}
.topbar .title{
  padding-left: 7%;
  width: 30%;
  font-size:xx-large;
  font-weight:500;
}
.topbar .buttons{
  padding-right: 7%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topbar .logout-button{
  background-color: transparent;
}
.topbar .create-button{
  padding: 5px;
  background-color: #A5463B;
  /* color:black; */
  margin-right: 5%;
  border-radius: 5px;
  /* border: solid 1px; */
}

.container {
  display: flex;
  /* Take up remaining vertical space */
  flex: 1; 
  overflow-y: hidden;
}
.sidebar {
  width: 20%;
  max-width: 25%;
  border-right: 1px solid #393E46;
}
.sidebar .button{
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  border-bottom: 1px solid #393E46;
  cursor: pointer;
  transition: 400ms;
}
.sidebar .button:hover {
  background-color: var(--Personal) !important;
  transition: transform 0.5s ease-in-out; /* This will create a smooth transition from right to left. */
}

main {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1; /*Take up remaining horizontal space*/
  padding: 10px;
  overflow-y: auto;
}
main::-webkit-scrollbar {
  display: none;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: 400px;
  margin: 10px;
  cursor: pointer;
  transition: 400ms;
}
.note:hover {
  transform: scale(1.1, 1.1);
  filter: none;
}
main:hover .note:not(:hover){
  transform: scale(0.9, 0.9);
}

@media (max-width: 800px) {
  main{
    justify-content: center;
    padding: 25px;
  }
  .note {
    width: calc(90% - 20px);
    height: 25vh;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  main{
    padding: 25px;
    padding-left: 65px;
  }
  .note {
    width: calc(45% - 20px);
    min-height: 25vh;
  }
}
@media (min-width: 1201px) {
  main{
    padding: 25px;
    padding-left: 100px;
  }
  .note {
    width: calc(31% - 20px);
    min-height: 25vh;
  }
}

.Modal{
  height: 75vh;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .sidebar{
    display: none;
  }
}
@media (max-width: 600px) {
  .Modal {
    width: 85%; /* Adjust the width for smaller screens */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .Modal {
    width: 500px; /* Adjust the width for medium-sized screens */
  }
}