*{
  margin: 0;
  padding: 0;
}

:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --default-color: #b745f7;
  --personal-color: #f43f5e;
  --study-color: #3b82f6;
  --other-color: #9a9a9a;
  --fitness-color: #ffcc29;
  --finance-color: #22c55e;
  --background-light: #e8e8e8;
  --background-dark: #212121;
  --font-dark: black;
  --font-light: #ffffff;
  --create-color: #28a745;
  --update-color: #17a2b8;
  --delete-color: #dc3545;
}

/* .light-font{
  color: var(--font-light);
}
.dark-font{
  color: var(--font-dark);
} */

.Light {
 background-color: var(--background-light);
  color: var(--font-dark);
}
.Dark {
  background-color: var(--background-dark);
  color: var(--font-light);
}

.Default {
  background-color: var(--default-color);
}
.Personal {
  background-color: var(--personal-color);
}
.Other {
  background-color: var(--other-color);
}
.Study {
  background-color: var(--study-color);
}
.Fitness {
  background-color: var(--fitness-color);
}
.Finance {
  background-color: var(--finance-color);
}
.Transparent{
  background-color: transparent;
}
.App{
  letter-spacing: 0.15rem;
  width: 100%;
  height: 100vh;
  font-family:var(--font-family);
  font-weight: 600;
}
.home{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  border-bottom: 1px solid #393E46;
  transition: all 0.3s;
}
.topbar .title{
  padding-left: 7%;
  width: 30%;
  font-size:xx-large;
  font-weight:500;
}
.topbar .buttons{
  padding-right: 7%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
}
.topbar .logout-button{
  padding-left: 20px;
  background-color: transparent;
  font-weight: 600;
}

.container {
  display: flex;
  /* Take up remaining vertical space */
  flex: 1; 
  overflow-y: hidden;
}
.sidebar {
  width: 20%;
  max-width: 25%;
  border-right: 1px solid #393E46;
}
.sidebar .button {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  border-bottom: 1px solid #393E46;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
  transition: all 0.3s;
}
/* Fetch hover color from corresponding background color */
.button.Default:hover {
  background-color: var(--default-color);
}
.button.Personal:hover {
  background-color: var(--personal-color);
}

.button.Other:hover {
  background-color: var(--other-color);
}

.button.Study:hover {
  background-color: var(--study-color);
}

.button.Fitness:hover {
  background-color: var(--fitness-color);
}

.button.Finance:hover {
  background-color: var(--finance-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1; /*Take up remaining horizontal space*/
  padding: 10px;
  overflow-y: auto;
}
main::-webkit-scrollbar {
  display: none;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  max-width: 400px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.note:hover {
  transform: scale(1.1, 1.1);
  filter: none;
}
main:hover .note:not(:hover){
  transform: scale(0.9, 0.9);
}
.front {
  height: 25vh;
  width: 90%;
  font-size: 1.5rem;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
}
.note:hover .front {
  height: 0vh;
  opacity: 0;
}
.back {
  height: 0vh;
  width: 90%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-size: 0px;
  overflow-y: hidden;
}
.back p{
  text-align: center;
}
.note:hover .back {
  opacity: 1;
  height: 25vh;
  font-size: 1rem;
  line-height: 1.7rem;
}
.top-right{
  padding: 10px 0;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
}
.center{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* height: 15vh; */
  overflow-y: hidden;
}
.center p{
  text-align: center;
}
.bottom-left{
  padding: 10px 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 800px) {
  main{
    justify-content: center;
    padding: 25px;
  }
  .note {
    width: calc(90% - 20px);
    height: 25vh;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  main{
    padding: 25px;
    padding-left: 65px;
  }
  .note {
    width: calc(45% - 20px);
    min-height: 25vh;
  }
}
@media (min-width: 1201px) {
  main{
    padding: 25px;
    padding-left: 100px;
  }
  .note {
    width: calc(31% - 20px);
    min-height: 25vh;
  }
}

.Modal{
  outline: none;
  height: 85vh;
  width: 600px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  padding: 1rem;
}

form{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
form .light-input, .dark-input{
  display: flex;
  flex-direction: column;
}

.dark-borders{
  border: 1px solid var(--font-dark);
  border-radius: 20px;
  color: var(--font-dark);
}

.light-borders{
  border: 1px solid var(--font-light);
  border-radius: 20px;
  color: var(--font-light);
  
}
select{
  padding: 5px 0;
  text-align: center;
  /* background-color: transparent; */
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 600;
  outline: none;
} 
option{
  border-radius: 20px;
  text-align: center;
  background-color: darkgray;
}
.light-input input, .dark-input input{
  margin: 10px 0;
  padding: 0 1 rem;
  height: 10vh;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 600;
  outline: none;
  cursor:pointer;
  letter-spacing: 0.1rem;
}
.light-input input::placeholder{
  color: var(--font-light)
}
.dark-input input::placeholder{
  color: var(--font-dark)
}
.light-input textarea, .dark-input textarea{
  padding: 1rem;
  height: 55vh;
  font-family: var(--font-family);
  font-size: 1.3rem;
  border-radius: 20px;
  outline: none;
  cursor:pointer;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  resize: none;
}
.light-input textarea::placeholder{
  color: var(--font-light)
}
.dark-input textarea::placeholder{
  color: var(--font-dark)
}
textarea::-webkit-scrollbar{
  display: none;
}
form .buttons{
  display: flex;
  justify-content: space-between;
}

.btn-light{
  cursor: pointer;
  font-size: 2rem;
  color: var(--font-light);
  /* margin: 8px 0; */
  border-radius: 50%;
  padding: 10px;
}
.btn-dark{
  cursor: pointer;
  font-size: 2rem;
  color: var(--font-dark);
  /* margin: 8px 0; */
  border-radius: 50%;
  padding: 10px;
}

@media (max-width: 650px) {
  .sidebar{
    display: none;
  }
}
@media (max-width: 600px) {
  .Modal {
    width: 85%; /* Adjust the width for smaller screens */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .Modal {
    width: 500px; /* Adjust the width for medium-sized screens */
  }
}